/* @font-face {
    font-family: 'Open Sans';

    src: url('opensans.woff2') format('woff2');
} */

body {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-size: 20px; */
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
}
