ul {
    list-style: none;
}
.title .link {
    color: rgb(0, 145, 255);
    text-decoration: none;
}
p {
    color: #008080;
}
th {
    color: #ff0257;
}

td {
    color: green;
}

tr > td {
    color: rgb(184, 189, 35);
}
