html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}
.title .link {
    color: rgb(0, 145, 255);
    text-decoration: none;
}
p {
    color: grey;
    background-color: black;
}
th {
    color: #ff0257;
}

td {
    color: green;
}

tr > td {
    color: rgb(184, 189, 35);
}

.btn {
    width: 200px;
    display: inline-block;
    padding: 20px 40px;
    background-color: tomato;
    border: 2px solid black;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    background-color: black;
    color: #ffffff;
    border: 2px solid tomato;
    border-radius: 3px;
}
